xml-resources/web-service-references/ServicioGesbod/wsdl/localhost_8080/servicioGesBod/ServicioGesbod.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="ServicioGesbod">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/servicioGesBod/ServicioGesbod?xsd=1"/>
</xsd:schema>
</types>
<message name="getProducto">
<part name="parameters" element="tns:getProducto"/>
</message>
<message name="getProductoResponse">
<part name="parameters" element="tns:getProductoResponse"/>
</message>
<message name="consultarProductos">
<part name="parameters" element="tns:consultarProductos"/>
</message>
<message name="consultarProductosResponse">
<part name="parameters" element="tns:consultarProductosResponse"/>
</message>
<message name="actualizarStock">
<part name="parameters" element="tns:actualizarStock"/>
</message>
<message name="actualizarStockResponse">
<part name="parameters" element="tns:actualizarStockResponse"/>
</message>
<message name="saludo">
<part name="parameters" element="tns:saludo"/>
</message>
<message name="saludoResponse">
<part name="parameters" element="tns:saludoResponse"/>
</message>
<message name="sumar">
<part name="parameters" element="tns:sumar"/>
</message>
<message name="sumarResponse">
<part name="parameters" element="tns:sumarResponse"/>
</message>
<portType name="WSgesbod">
<operation name="getProducto">
<input wsam:Action="http://servicios/WSgesbod/getProductoRequest" message="tns:getProducto"/>
<output wsam:Action="http://servicios/WSgesbod/getProductoResponse" message="tns:getProductoResponse"/>
</operation>
<operation name="consultarProductos">
<input wsam:Action="http://servicios/WSgesbod/consultarProductosRequest" message="tns:consultarProductos"/>
<output wsam:Action="http://servicios/WSgesbod/consultarProductosResponse" message="tns:consultarProductosResponse"/>
</operation>
<operation name="actualizarStock">
<input wsam:Action="http://servicios/WSgesbod/actualizarStockRequest" message="tns:actualizarStock"/>
<output wsam:Action="http://servicios/WSgesbod/actualizarStockResponse" message="tns:actualizarStockResponse"/>
</operation>
<operation name="saludo">
<input wsam:Action="http://servicios/WSgesbod/saludoRequest" message="tns:saludo"/>
<output wsam:Action="http://servicios/WSgesbod/saludoResponse" message="tns:saludoResponse"/>
</operation>
<operation name="sumar">
<input wsam:Action="http://servicios/WSgesbod/sumarRequest" message="tns:sumar"/>
<output wsam:Action="http://servicios/WSgesbod/sumarResponse" message="tns:sumarResponse"/>
</operation>
</portType>
<binding name="WSgesbodPortBinding" type="tns:WSgesbod">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saludo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioGesbod">
<port name="WSgesbodPort" binding="tns:WSgesbodPortBinding">
<soap:address location="http://localhost:8080/servicioGesBod/ServicioGesbod"/>
</port>
</service>
</definitions>